{% extends "base.html" %}

{% block script %}
<script>
    $(document).ready(function () {
        $("form input").addClass('form-control')
    });
</script>


{% endblock %}


{% block content %}
<div class='col-sm-6 col-sm-offset-3 text-center'>
    <h1>Login</h1>
    {% if form.errors %}
    <p>Your email and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Welcome back to Simple Twitter</p>
    {% endif %}
    {% endif %}

    <form method='POST'> {% csrf_token %}
        <div class="form-group">
            <input type='email' name='email' id='email' class="form-control"
                   placeholder="Email">
        </div>
        <div class="form-group">
            <input type='password' name='password' id='password' class="form-control"
                   placeholder="Password">
        </div>
        <button type="submit" class='btn btn-default'>Login</button>
    </form>

    <a href="/account/register/">Don't have account yet?</a>
</div>
{% endblock %}