{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign up{% endblock title %}


{% block content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>Sign up</h1>
        <form method='POST'> {% csrf_token %}
            <div class="form-group">
                <input type='email' name='email' id='email' class="form-control"
                       placeholder="Email">
            </div>
            <div class="form-group">
                <input type='password' name='password1' id='password1'
                       class="form-control"
                       placeholder="Password">
            </div>
            <div class="form-group">
                <input type='password' name='password2' id='password2'
                       class="form-control"
                       placeholder="Confirm Password">
            </div>
            <button type="submit" class='btn btn-default'>Register</button>
        </form>

        </form>
        <a href="/account/login/">Already registered?</a>
    </div>
</div>
{% endblock content %}


